<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} image{% if data.parallax %} parallax {% endif %}">
  <div class="image__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner">
    {% if data.txt %}
      <div class="image__txt">
        {{ data.txt }}
      </div>
    {% endif %}
  </div>
    <div class="image__img">
      <img srcset="
        {% for size, breakpoint in app.breakpoints|slice(0, 2) %}
          {{ data.img.url | resize( attribute(app.responsive_images, size) , attribute(app.responsive_images, size) / 2 * 3, 'center' ) }} {{ attribute(app.responsive_images, size) }}w,
        {% endfor %}
        {% for size, breakpoint in app.breakpoints[2:3] %}
          {{ data.img.url | resize( attribute(app.responsive_images, size )) }} {{ attribute(app.responsive_images, size) }}w,
        {% endfor %}
        {{ data.img.url | resize( app.responsive_images|last ) }} {{ app.responsive_images|last }}w"
        src="{{ data.img.url | resize( app.responsive_images|last ) }}"
        sizes="100vw"
        alt="{{ data.img.alt }}"
      />
    </div>
</section>