<div class="footer">
  <div class="footer__inner">
    {% if data.partners %}
      <div class="footer__partners partners">
        <div class="partners__inner">
          {% if data.partners_title %}
            <h6 class="partners__title">{{ data.partners_title }}</h6>
          {% endif %}
          {% if data.partners_txt %}
            <div class="partners__content">{{ data.partners_txt }}</div>
          {% endif %}
            <ul class="partners__list">
              {% for partner in data.partners %}
                {% set partner_alt = partner.partner_logo.alt ? : 'partner-'~loop.index %}
                <li class="partners__item">
                  {% if partner.partner_link %}
                    <a href="{{ partner.partner_link }}" target="_blank">
                  {% endif %}
                    <span class="blindhelper">{{ partner_alt }}</span>
                    {% if partner.partner_logo %}
                        <img class="partner__logo"
                          srcset="
                            {% for size, breakpoint in app.breakpoints %}
                              {{ partner.partner_logo.url | resize(attribute( app.responsive_images, size )) }} {{ attribute( app.responsive_images, size ) }}w,
                            {% endfor %}"
                          src="{{ partner.partner_logo.url | resize(attribute( app.responsive_images, size )) }}"
                          sizes="100vw"
                          alt="{{ partner.partner_logo.alt }}"
                        />
                      {% endif %}
                  {% if partner.partner_link %}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    {% endif %}
    <div class="footer__data fdata">
      <div class="fdata__inner" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="fdata__area">
          {% if data.ragione_sociale %}
            <div itemprop="legalName" class="fdata__ragsoc">
              {{ data.ragione_sociale }}
            </div>
          {% endif %}
          {% if data.cf_piva %}
            <div class="fdata__cf-iva">{{ __('Cod.Fisc./P.iva:', app.site_domain) }} {{ data.cod_fisc }}</div>
          {% else %}
            {% if data.cod_fisc %}
              <div class="fdata__codfisc">{{ __('Cod.Fisc:', app.site_domain) }} {{ data.cod_fisc }}</div>
            {% endif %}
          {% endif %}
          {% if data.p_iva %}
            <div itemprop="vatID" class="fdata__p-iva">{{ __('P.iva:', app.site_domain) }} {{ data.p_iva }}</div>
          {% endif %}
          {% if data.capitale_sociale %}
            <div class="fdata__cap-soc">{{ __('Capitale sociale:', app.site_domain) }} {{ data.capitale_sociale }}{{ __('i.v.', app.site_domain) }}</div>
          {% endif %}
          {% if data.numero_rea %}
            <div itemprop="leiCode" class="fdata__rea">{{ __('n° REA:', app.site_domain) }} {{ data.numero_rea }}</div>
          {% endif %}
        </div>
        <div class="fdata__area">
          {% if data.sedi %}
            <ul class="fdata__sedi">
              {% for sede in data.sedi %}
                <li itemprop="location" class="fdata__sede">
                  <div>{{ attribute( sede, 'data_sede-tipo' ) }}</div>
                  {{ attribute( sede, 'data_sede-address' ).address }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if data.indirizzi_email %}
            <ul class="fdata-email__list">
              {% for email in data.indirizzi_email %}
                <li itemprop="email" class="fdata-email__item">
                  {{ email.data_mailbox~':' }}
                  <a href="mailto:{{ email.data_email }}">{{ email.data_email }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if data.recapiti_telefonici %}
            <ul class="fdata-tel__list">
              {% for tel in data.recapiti_telefonici %}
                <li itemprop="telephone" class="fdata-tel__item">
                  {{ tel.data_device~':' }}
                  <a href="tel://{{ tel.data_tel }}">{{ tel.data_tel }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="fdata__area">
          {% if data.altri_dati %}
            <div class="fdata__various">
              {{ data.altri_dati }}
            </div>
          {% endif %}
          {% if data.cookie_policy or data.privacy_policy %}
            <ul class="fdata__legal legal-notes no-bullet">
              {% if data.cookie_policy %}
                <li class="legal-notes__item">
                  <a href="{{ data.cookie_policy }}" target="_blank">{{ __('Cookie policy', app.site_domain) }}</a>
                </li>
              {% endif %}
              {% if data.privacy_policy %}
                <li class="legal-notes__item">
                  <a href="{{ data.privacy_policy }}" target="_blank">{{ __('Privacy policy', app.site_domain) }}</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
          {% if data.credits %}
            <ul class="fdata__credits credits no-bullet">
              {% for credit in data.credits %}
              <li class="credits__item">
                {% if attribute( credit, 'opzioni_credit-label' ) %}{{ attribute( credit, 'opzioni_credit-label' ) }}{% endif %}
                <a href="{{ attribute( credit, 'opzioni_credit-link' ) }}" target="_blank">{{ attribute( credit, 'opzioni_credit-name' ) }}</a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>