<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} loop {% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="loop__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner">
    {% if data.title %}
      <h3 class="loop__title">
        {{ data.title }} {{ data.order_by }}  {{ data.order }}
      </h3>
    {% endif %}
    {% if data.txt %}
      <div class="loop__text">
        {{ data.txt }}
      </div>
    {% endif %}
    {% if data.posts %}
      {% for post in data.posts %}
        <article id="{{ data.post_type }}-{{ post.ID }}" class="{{ data.post_type }}-post post">
          <div class="{{ data.post_type }}-post__inner post__inner">
            {% if post.thumbnail.src %}
              <a href="{{ post.link }}">
                <div class="{{ data.post_type }}-post__featured">
                  <img srcset="
                    {% for size, breakpoint in app.breakpoints|slice(1, 4) %}
                      {{ post.thumbnail.src | resize( attribute(app.responsive_images, size ), attribute(app.responsive_images, size ) / 1.67, center) }} {{ attribute(app.responsive_images, size) }}w,
                    {% endfor %}
                    {{ post.thumbnail.src | resize( app.responsive_images|last, attribute(app.responsive_images, size ) / 1.67, center ) }} {{ app.responsive_images|last }}w"
                    src="{{ post.thumbnail.src }}"
                    sizes="(max-width:600px) 100vw, (min-width:601px) and (max-width:900px) 50vw, 33.33vw"
                    alt="{{ post.thumbnail.alt }}"
                  />
                </div>
              </a>
            {% endif %}
            {% if post.post_title %}
              <div class="{{ data.post_type }}-post__title post__title">
                <a href="{{ post.link }}">
                  <h4>{{ post.post_title }}</h4>
                </a>
              </div>
            {% endif %}
            {% if post.post_excerpt %}
              <div class="{{ data.post_type }}-post__excerpt post__excerpt">
                {{ post.post_excerpt }}
              </div>
            {% endif %}
            {% if data.date %}
              <span class="{{ data.post_type }}-post__date post__date">{{ post.post_date|date('d F Y') }}</span>
            {% endif %}
            {% if data.categories %}
              {% for category in data.categories %}
                <span class="{{ data.post_type }}-post__cat post__cat">
                  <a href="{{ function('get_category_link', category.term_id) }}">{{ category.name }}</a>
                </span>
              {% endfor %}
            {% endif %}
            {% if data.btn_txt %}
              <div class="{{ data.post_type }}-post__btn">
                <a class="button hollow" href="{{ post.link }}">{{ data.btn_txt }}</a>
              </div>
            {% endif %}
          </div>
        </article>
      {% endfor %}
      {% if data.pagination.total > 1 %}
        <div class="loop__pagination">
          <nav class="pagination__inner">
            {% if data.pagination.prev|length %}
                <a href="{{ data.pagination.prev.link }}" class="prev nav-posts-link">
                  <button class="button hollow"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                </a>
            {% else %}
              <div class="prev-posts-link">
                <span class="prev placeholder"></span>
              </div>
            {% endif %}
            <ul class="pages">
              {% for pagina in data.pagination.pages %}
                <li class="{{ pagina.current == pagina.name ? 'active' }}">
                  <a href="{{ pagina.link }}"><button class="button hollow">{{ pagina.name }}</button></a>
                </li>
              {% endfor %}
            </ul>
            {% if data.pagination.next|length %}
              <a href="{{ data.pagination.next.link }}" class="prev nav-posts-link">
                <button class="button hollow"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
              </a>
            {% endif %}
          </nav>
        </div>
      {% endif %}
    {% endif %}
    {% if data.page_label %}
      <div class="loop__btn">
        <a class="button hollow loop__link" href="{{ data.page_link }}">{{ data.page_label }}</a>
      </div>
    {% endif %}
  </div>
</section>