<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} txt-img {% if data.reverse %}invertito {% endif %}{% if data.numbered %}numbered {% endif %}{% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="txt-img__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner {% if data.bg_content %}{{ function('getContrast50', data.bg_content ) }}{% endif %}">
    {% if data.title %}
      <h3 class="txt-img__title">
        {% if data.catalog %}
          <span class="txt-img__number">{{ data.catalog }}</span>
        {% endif %}
        {{ data.title }}
      </h3>
    {% endif %}
    {% if data.col_sx %}
      <div class="txt-img__text txt-img__col">{{ data.col_sx }}</div>
    {% endif %}
    {% if data.img_loop %}
      <div class="txt-img__img txt-img__col">
        {% for row in data.img_loop %}
          <div class="img__inner{% if data.img_loop|length > 1 %} multiple {% endif %}">
            <img srcset="
                {% for size, breakpoint in app.breakpoints|slice(1, 5) %}
                  {{ row.img.url | resize(attribute(app.txt_img, size)) }} {{ attribute(app.breakpoints, size) }}w,
                {% endfor %}" 
              src="{{ row.img.url | resize(app.txt_img|last) }}"
              sizes="100vw, (min-width: 600px) 50vw"
              alt="{{ row.img.alt }}"
            />
          </div>
        {% endfor %}
      </div>      
    {% endif %}
  </div>
</section>