<div class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} slideshow {% if app.slideshow_engine == 'orbit' %} orbit {% endif %}{% if data.height %}full-height{% endif %}" role="region" aria-label="{{ data.title }}"
    {% if app.slideshow_engine == 'orbit' %}
      data-timer-delay="{{ app.slideshow_timing }}"
      data-orbit data-options="
        animInFromLeft: {{ app.slideshow_anim_left_in }}; animInFromRight: {{ app.slideshow_anim_right_in }};
        animOutToLeft: {{ app.slideshow_anim_left_out }}; animOutToRight: {{ app.slideshow_anim_right_out }};"
    {% endif %}
  >
  <div class="slideshow__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner {% if data.bg_color %}{{ function('getContrast50', data.bg_color) }}{% endif %}">
    <ul class="slideshow__list {% if app.slideshow_engine == 'orbit' %} orbit-container {% endif %}">
      {% for row in data.slide %}
        <li class="slideshow__slide {% if loop.index0 == 1 %}is-active{% endif %} {% if app.slideshow_engine == 'orbit' %}orbit-slide{% endif %}"
          {% if (attribute( row, 'slide_bg-color' )) %} style="background: {{ attribute( row, 'slide_bg-color' ) }};"{% endif %}>
          {% if row.slide_media == 'immagine' %}
            <img class="slideshow__img {% if app.slideshow_engine == 'orbit' %}orbit-image{% endif %}"
              srcset="
                {% for size, breakpoint in app.breakpoints %}
                  {{ row.slide_img.url | resize(attribute(app.responsive_images, size), attribute(app.responsive_images_height, size), 'center') }} {{ attribute(app.responsive_images, size) }}w,
                {% endfor %}"
              src="{{ row.slide_img.url | resize(attribute(app.responsive_images, size), attribute(app.responsive_images_height, size), 'center') }}" sizes="100vw" alt="{{ row.slide_img.alt }}"
            />
          {% elseif row.slide_media == 'file-video' %}
            <div class="responsive-embed">
              {% if ( not function('is_handheld') ) %}
                <video class="video" autoplay loop muted poster="{{ attribute(row.video_poster.sizes, 'np-xlarge') }}">
                  {% if( attribute( row, 'slide_file-video') ) %}
                    {% for vid in attribute( row, 'slide_file-video') %}
                      {% set video_ext = vid.video|split('.') %}
                      <source src="{{ vid.video }}" type="video/{{ video_ext|last }}">
                    {% endfor %}
                  {% endif %}
                </video>
              {% else %}
                <img class="slideshow__img {% if app.slideshow_engine == 'orbit' %}orbit-image{% endif %}" sizes="100vw" alt="{{ row.video_poster.alt }}" sizes="100vw"
                  srcset="
                    {% for size, breakpoint in app.breakpoints %}
                      {{ row.video_poster.url | resize(attribute(app.responsive_images, size)) }} {{ attribute(app.responsive_images, size) }}w,
                    {% endfor %}"
                  src="{{ row.video_poster.url | resize(attribute(app.responsive_images, size)) }}"
                />
              {% endif %}
            </div>
          {% elseif row.slide_media == 'streaming-video' %}
            <div class="responsive-embed streaming-video">
              {% if ( not function('is_handheld') ) %}
                <div id="video-{{ attribute(row, 'slide_streaming-video') }}" class="video"></div>
              {% else %}
                <img class="slideshow__img" src="{{ attribute(row.video_poster.sizes, 'np-xlarge') }}" alt="{{ row.video_poster.alt }}" sizes="100vw"
                  srcset="
                    {% for size, breakpoint in app.breakpoints %}
                      {{ row.video_poster.url | resize(attribute(app.responsive_images, size)) }} {{ attribute(app.responsive_images, size) }}w,
                    {% endfor %}"
                />
              {% endif %}
            </div>
          {% endif %}
          {% set caption_title = attribute( row, 'slide_caption-title') %}
          {% set caption_txt = attribute( row, 'slide_caption-txt') %}
          {% set caption_img = attribute( row, 'slide_caption-img') %}
          {% set caption_txt_color = attribute( row, 'slide_bg-color') %}
          {% if caption_title or caption_txt or caption_img %}
            <figcaption class="slideshow__caption caption {% if app.slideshow_engine == 'orbit' %}orbit-caption{% endif %} {% if caption_txt_color %}{{ function('getContrast50', caption_txt_color) }}{% endif %}">
              {% if caption_title %}
                <h4 class="caption__title">{{ attribute( row, 'slide_caption-title') }}</h4>
              {% endif %}
              {% if caption_img %}
                <div class="caption__img">
                  <img srcset="
                    {% for size, breakpoint in app.breakpoints %}
                      {{ caption_img.url | resize(attribute(app.responsive_images, size)) }} {{ attribute(app.responsive_images, size) }}w,
                    {% endfor %}"
                    src="{{ caption_img.url | resize(attribute(app.responsive_images, size)) }}"
                    sizes="100vw"
                    alt="{{ caption_img.alt }}"
                  />
                </div>
              {% endif %}
              {% if caption_txt %}
              <div class="caption__txt">{{ attribute( row, 'slide_caption-txt') }}</div>
              {% endif %}
            </figcaption>
          {% endif %}          
        </li>
      {% endfor %}
    </ul>
    {% if data.slide|length > 1 %}
      <button class="slideshow__prev slideshow__arrow {% if app.slideshow_engine == 'orbit' %} orbit-previous {% endif %}">
        <span class="show-for-sr">{{ __('Slide precedente', app.site_domain) }}</span><i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button class="slideshow__next slideshow__arrow {% if app.slideshow_engine == 'orbit' %} orbit-next {% endif %}">
        <span class="show-for-sr">{{ __('Slide successiva', app.site_domain) }}</span><i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
      <nav class="slideshow__dots {% if app.slideshow_engine == 'orbit' %}orbit-bullets{% endif %}">
        {% for row in data.slide %}
          <button class="{% if loop.index0 == 1 %}is-active{% endif %} dot" data-slide="{{ loop.index0 }}">
          <span class="show-for-sr">{{ attribute( row, 'slide_caption-title') }}</span>
          {% if loop.index0 == 1 %}
            <span class="show-for-sr">{{ __('Slide attuale', app.site_domain) }}</span>
          {% endif %}
          </button>
        {% endfor %}
      </nav>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  if ( $('.streaming-video').length > 0 ) {
    var tag = document.createElement('script');
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    function onYouTubeIframeAPIReady() {
      {% for row in data.slide %}
        {% set vid_start = attribute(row, 'video_start') ? attribute(row, 'video_start') : 0 %}
        {% set vid_end = attribute(row, 'video_end') ? attribute(row, 'video_end') : "''" %}
        {% if row.slide_media == 'streaming-video' %}
          video_streaming("{{ attribute(row, 'slide_streaming-video') }}", {{ vid_start }}, {{ vid_end }});
        {% endif %}
      {% endfor %}
    }
  }
</script>