<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} gallery {% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
    <div class="gallery__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner">
        {% if data.title %}
            <div class="gallery__title">
              <h4>{{ data.title }}</h4>
            </div>
        {% endif %}
        {% if data.txt %}
          <div class="gallery__text">
            {{ data.txt }}
          </div>
        {% endif %}
        {% if data.img %}
            <ul class="gallery__images no-bullet {% if data.img_per_row %}{{ data.img_per_row.value }}-per-row{% endif %}">
                {% for image in data.img %}
                    <li class="gallery__image g-image">
                        {% if app.gallery_engine == 'swipebox' %}
                            <a class="swipebox g-image__item" rel="gallery-{{ data.index }}" href="{{ image.url }}">
                                <img srcset="
                                    {% for size, breakpoint in app.breakpoints|slice(0, 5) %}
                                      {{ image.url | resize( attribute(app.responsive_images, size) , attribute(app.responsive_images, size) / 3 * 2, 'center' ) }} {{ attribute(app.responsive_images, size) }}w,
                                    {% endfor %}
                                    {{ image.url | resize( app.responsive_images|last ) }} {{ app.responsive_images|last }}w" 
                                    src="{{ image.url | resize( app.responsive_images|last ) }}"
                                    sizes="{{ 100 / data.img_per_row.label|number_format }}vw"
                                    alt="{{ image.alt }}"
                                />
                                <div class="g-image__caption {% if data.bg_caption %}{{ function('getContrast50', data.bg_caption ) }}{% endif %}" {% if data.bg_caption %}style="background-color: rgba({{ function('hexToRgb', data.bg_caption ) }}, {{ data.bg_caption_opacity }});"{% endif %}>
                                  <p class="caption__inner">{{ image['caption'] }}</p>
                                </div>
                            </a>
                        {% else %}
                            <a class="g-image__item" rel="gallery-{{ data.index }}" data-open="g-image__modal-{{ loop.index }}">
                                <img srcset="
                                    {% for size, breakpoint in app.breakpoints|slice(0, 5) %}
                                      {{ image.url | resize( attribute(app.responsive_images, size) , attribute(app.responsive_images, size) / 3 * 2, 'center' ) }} {{ attribute(app.responsive_images, size) }}w,
                                    {% endfor %}
                                    {{ image.url | resize( app.responsive_images|last ) }} {{ app.responsive_images|last }}w"
                                    src="{{ image.url | resize( app.responsive_images|last ) }}"
                                    sizes="{{ 100 / data.img_per_row.label|number_format }}vw"
                                    alt="{{ image.alt }}"
                                />
                                <div class="g-image__caption {% if data.bg_caption %}{{ function('getContrast50', data.bg_caption ) }}{% endif %}" {% if data.bg_caption %}style="background-color: rgba({{ function('hexToRgb', data.bg_caption ) }}, {{ data.bg_caption_opacity }});"{% endif %}>
                                  <p class="caption__inner">{{ image['caption'] }}</p>
                                </div>
                            </a>
                            <div class="reveal {{ app.popup_size }}" id="g-image__modal-{{ loop.index }}" data-reveal data-animation-in="{{ app.popup_animation_in }}" data-animation-out="{{ app.popup_animation_out }}">
                                <img srcset="
                                    {% for size, breakpoint in app.breakpoints|slice(0, 5) %}
                                      {{ image.url | resize( attribute(app.responsive_images, size) , attribute(app.responsive_images, size) / 3 * 2, 'center' ) }} {{ attribute(app.responsive_images, size) }}w,
                                    {% endfor %}
                                    {{ image.url | resize( app.responsive_images|last ) }} {{ app.responsive_images|last }}w" 
                                    src="{{ image.url | resize( app.responsive_images|last ) }}"
                                    sizes="100vw"
                                    alt="{{ image.alt }}"
                                />
                                <button class="close-button" data-close aria-label="Chiudi ingrandimento" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>