<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{data.index}} contenuto-standard {% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="contenuto-standard__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{data.index}}__inner {% if data.bg_content %}{{ function('getContrast50', data.bg_content ) }}{% endif %}">
    {{ data.content }}
  </div>
</section>