<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} download {% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="download__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner {% if data.bg_content %}{{ function('getContrast50', data.bg_content ) }}{% endif %}">
    {% if data.title %}
      <h3 class="download__title">
        {{ data.title }}
      </h3>
    {% endif %}
    {% if data.list %}
      <div class="download__list {% if data.two_col %}download__list--two-col{% endif %}">
        {% for item in data.list %}
          {% set attachedfile = function('get_attached_file', item.download_file.id ) %}
          {% set fileweight = function('filesize', attachedfile ) %}
          {% set filesize = function('size_format', fileweight ) %}
          <a class="file" href="{{ item.download_file.url }}" {% if attribute(item, 'download_file-forced') %}download{% endif %}>
            <div class="file__inner">
              {% if attribute(item, 'download_file-icon') %}
                <div class="file__icon">
                  <i {% if attribute(item, 'download_icon-color') %} style="color: {{ attribute(item, 'download_icon-color') }}" {% endif %} class="{{ attribute(item, 'download_file-icon') }}" aria-hidden="true"></i>  
                </div>
              {% endif %}
              <div class="file__data">
                {% if attribute(item, 'download_file-name') %}
                  <div class="file__name">{{ attribute(item, 'download_file-name') }}</div>
                {% endif %}
                <div class="file__size">
                  {{ filesize }}
                </div>
                {% if attribute(item, 'download_file-description') %}
                  <div class="file__desc">
                    {{ attribute(item, 'download_file-description') }}
                  </div>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
</section>