<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} txt {% if data.numbered %}numbered {% endif %}{% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="txt__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner {% if data.bg_content %}{{ function('getContrast50', data.bg_content ) }}{% endif %}">
    {% if data.title %}
      <h3 class="txt__title">
        {% if data.catalog %}
          <span class="txt__number">{{ data.catalog }}</span>
        {% endif %}
        {{ data.title }}
      </h3>
    {% endif %}
    {% if data.two_col %}
      <div class="txt__col">{{ data.col_sx }}</div>
      <div class="txt__col">{{ data.col_dx }}</div>
    {% else %}
      <div class="txt__text">{{ data.col_sx }}</div>
    {% endif %}
  </div>
</section>
