<section class="np-knot{% if data.boxed %}--boxed{% endif %} np-knot-{{ data.index }} cards {% if data.bg_color %}{{ function('getContrast50', data.bg_color ) }}{% endif %}">
  <div class="cards__inner np-knot__inner{% if data.grid_content %}--boxed{% endif %} np-knot-{{ data.index }}__inner {% if data.bg_content %}{{ function('getContrast50', data.bg_content ) }}{% endif %}">
    {% if data.title %}
      <h3 class="cards__title">{{ data.title }}</h3>
    {% endif %}
    <div class="cards__list">
      {% for item in data.card %}
        <div class="cards__item card">
          {% if item.card_link %}
            <a class="card__link" href="{{ item.card_link }}">
          {% endif %}
            <div class="card__inner {% if attribute(item, 'card_bg-color') %}{{ function('getContrast50', attribute(item, 'card_bg-color') ) }}{% endif %}" {% if attribute(item, 'card_bg-color') %}style="background-color: {{ attribute(item, 'card_bg-color') }};"{% endif %}>
              {% if item.card_img %}
                <div class="card__img">
                  <img srcset="
                    {% for size, breakpoint in app.breakpoints|slice(1, 5) %}
                      {{ item.card_img.url | resize(attribute(app.cards, size)) }} {{ attribute(app.breakpoints, size) }}w,
                    {% endfor %}" 
                    src="{{ row.card_img.url | resize(app.breakpoints|last) }}"
                    sizes="100vw"
                    alt="{{ row.card_img.alt }}"
                  />
                </div>
              {% endif %}
              <div class="card__txt">{{ item.card_txt }}</div>
            </div>
          {% if item.card_link %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>